
<!-- {{$ctrl.venues}} gets passed to nested view through binding -->
<!-- {{$ctrl.venues}} -->

<!-- ng-repeat="item in (filteredItems = (items | orderBy:'order_prop' | filter:query | limitTo:4))"> -->

<div id="venue{{venue.artsy_id}}" class="venue-container" ng-repeat="venue in $ctrl.currentService.venues">

  <p>{{venue.name}}</p>
  <info-show venue-artsy-id="venue.artsy_id" remove-venue="$ctrl.removeVenue(venueArtsyId)"></info-show>
  <!-- <info-show venue-name="venue.name"></info-show> -->
  <!-- <a ng-click="$ctrl.reRenderVenues()">test reRenderVenues</a> -->
</div>
