<!-- <div ng-repeat="show in $ctrl.shows"> -->
<!-- <info-art></info-show> -->


<!-- <p>from info-artist showArtsyId: {{$ctrl.showArtsyId}}</p> -->

<div ng-repeat="artist in $ctrl.artists track by $index">
  <p class="debug-border" ng-show="artist.relevant == true && $ctrl.relevanceMode == true">artists for this show: {{artist.name}}</p>
  <p class="debug-border" ng-class="" ng-show="artist.relevant == false && $ctrl.relevanceMode == false">artists for this show: {{artist.name}}</p>
  <!-- {{artist}} -->
  <a ng-click="$ctrl.clickRelevance(artist.name, artist.relevant, $index)" ng-if="artist.relevant == true && $ctrl.relevanceMode == true">mark irrelevant</a>
  <a ng-click="$ctrl.clickRelevance(artist.name, artist.relevant, $index)" ng-if="artist.relevant == false && $ctrl.relevanceMode == false">mark relevant</a>
</div>
