
<div ng-repeat="artist in $ctrl.artists track by $index">
  <p class="artist-title" ng-show="artist.relevant == true && $ctrl.relevanceMode == true">{{$ctrl.strDisclaim}}{{artist.name}}</p>
  <p ng-show="artist.relevant == false && $ctrl.relevanceMode == false">{{$ctrl.strDisclaim}}{{artist.name}}</p>
  <div style="margin-bottom: 0.5rem">
    <div class="img-layout">
      <div ng-repeat="image in artist.image_urls[0]">
        <img class="sample-img" src={{image}} alt="image of artist work">
      </div>
    </div>
    <div class="artist-controls" style="float: right">
      <a class="anchor-button" ng-click="$ctrl.clickRelevance(artist.name, artist.relevant, $index)" ng-if="artist.relevant == true && $ctrl.currentService.relevanceMode == true">mark entry irrelevant</a>
      <a class="anchor-button" ng-click="$ctrl.clickRelevance(artist.name, artist.relevant, $index)" ng-if="artist.relevant == false && $ctrl.currentService.relevanceMode == false">mark entry relevant</a>
    </div>
  </div>

  <ng-include src="'./modals/imageview.template.html'"></ng-include>

</div>
