<div class="venue-border" ng-repeat="show in $ctrl.shows">
  <div style="display: block; width: 100%; margin-top: 1.5rem;">
    <div style="display: inline-block; margin-bottom: 1rem; width: 50%;">
      <h5 class="show-title">{{show.name}}</h5>
    </div>


    <div style="display: block; float: right;">
      <h5 class="show-title right-align">{{$ctrl.dateFrom.format('MMMM Do')}} - {{$ctrl.dateTo.format('MMMM Do YYYY')}}</h5>
    </div>
  </div>

  <div style="display: block">
    <details ng-show="show.description !== ''">
      <summary>Description</summary>
      <p>{{show.description}}</p>
    </details>

    <details ng-show="show.press_release !== ''">
      <summary>Press Release</summary>
      <p class="summary-footer">{{show.press_release}}</p>
    </details>
  </div>

  <!-- <p ng-if="show.description == '' "class="show-title">show description: not provided</p> -->

  <info-artist show-artsy-id="show.artsy_id" remove-show="$ctrl.removeShow(showArtsyId)"></info-artist>
</div>
