<header>
  <div class="navbar-fixed">
    <nav>

      <div class="nav-wrapper">

        <a href="#" class="brand-logo">Logo</a>


        <!--
          <a class='dropdown-button btn' href='#' data-activates='venues'>Drop Me!</a>
          <ul id='venues' class='dropdown-content'>
            <li><a href="#!">one</a></li>
            <li><a href="#!">blarf snarf marf defar</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>
            <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
            <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
          </ul>

          <div ng-repeat="box in $ctrl.curBoxes track by $index" class="col s4">
    <div style="position: relative; width: 235px; height: 235px; margin: auto">
      <p class="textoverlay" style="position: absolute; margin-left: 10px; margin-top: 10px; margin-right: 10px; padding: 0; top: 0px">Box id No. {{ box.id }}</p>
      <p class="textoverlay" style="position: absolute; bottom: 0px; right: 0px; margin-right: 10px; margin-bottom: 10px">by {{ box.email }}</p>
      <canvas-init></canvas-init>

          -->

        <ul class="right">
          <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
              <p ng-repeat="city in $ctrl.currentService.cities track by $index" ng-click="$ctrl.clickCityItem(city.id)" class="dropdown-item" href="#">{{city.name}}</p>
              <!-- <p class="dropdown-item" href="#">Link 2</p> {{venue.name}} -->
              <!-- <p class="dropdown-item" href="#">Link 3</p> -->
            </div>
          </div>
        </ul>



        <ul class="right">
          <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
              <p ng-repeat="venue in $ctrl.currentService.venues track by $index" ng-click="$ctrl.clickVenueItem(venue.artsy_id)" class="dropdown-item" href="#">{{venue.name}}</p>
              <!-- <p class="dropdown-item" href="#">Link 2</p> {{venue.name}}-->
              <!-- <p class="dropdown-item" href="#">Link 3</p> -->
            </div>
          </div>
        </ul>


      </div>

    </nav>
  </div>
</header>
<main>
  <!-- <div style="height: 100vh; display: relative;"> -->

  <a class="fixtext" ng-click="$ctrl.clickRelevanceMode()" ng-if="$ctrl.currentService.relevanceMode == true">show irrelevant entries</a>
  <a class="fixtext" ng-click="$ctrl.clickRelevanceMode()" ng-if="$ctrl.currentService.relevanceMode == false">show relevant entries</a>

    <div class="container" style="transform: translate(0,0); height: 100%">
    <!-- <div class="container"> -->
      <!-- why use ui-view here instead of just <info-venue>-->
      <!-- <ui-view venues="venues"></ui-view> -->
      <!-- <ui-view></ui-view> -->
      <info-venue></info-venue>
    </div>

  <!-- </div> -->
</main>
