<header>
  <div class="navbar-fixed">
    <nav>

      <div class="nav-wrapper">

        <a href="#" class="brand-logo">Logo</a>


        <!--
          <a class='dropdown-button btn' href='#' data-activates='venues'>Drop Me!</a>
          <ul id='venues' class='dropdown-content'>
            <li><a href="#!">one</a></li>
            <li><a href="#!">blarf snarf marf defar</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>
            <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
            <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
          </ul>

          <div ng-repeat="box in $ctrl.curBoxes track by $index" class="col s4">
    <div style="position: relative; width: 235px; height: 235px; margin: auto">
      <p class="textoverlay" style="position: absolute; margin-left: 10px; margin-top: 10px; margin-right: 10px; padding: 0; top: 0px">Box id No. {{ box.id }}</p>
      <p class="textoverlay" style="position: absolute; bottom: 0px; right: 0px; margin-right: 10px; margin-bottom: 10px">by {{ box.email }}</p>
      <canvas-init></canvas-init>

          -->

        <ul class="right helper-right">
          <div class="dropdown" ng-mouseenter="toggleTriangle=true; toggleContentVis=true;" ng-mouseleave="toggleTriangle=false; toggleContentVis=false">
            <button  ng-click="toggleContentVis = !toggleContentVis; toggleTriangle = !toggleTriangle" class="dropbtn" style="vertical-align: bottom"><span style="display: inline">{{$ctrl.currentService.cityName}}</span>
              <span ng-show="!toggleTriangle" style="display: inline; padding: 0; margin-left: 0.5rem; font-size: .7rem; line-height: 0.7rem;">&#x25E2;</span>
              <span ng-show="toggleTriangle" style="display: inline; padding: 0; margin-left: 0.5rem; font-size: .7rem; line-height: 0.7rem;">&#x25BC;</span>
            </button>
            <div class="dropdown-content" ng-click="toggleContentVis = !toggleContentVis; toggleTriangle = !toggleTriangle" ng-show="toggleContentVis">
              <p ng-repeat="city in $ctrl.currentService.cities track by $index" ng-click="$ctrl.clickCityItem(city.id, city.name)" class="dropdown-item" href="#">{{city.name}}</p>
            </div>
          </div>
        </ul>


        <ul class="right">
          <div class="dropdown" ng-mouseenter="toggleVenueTriangle=true; toggleVenueContentVis=true;" ng-mouseleave="toggleVenueTriangle=false; toggleVenueContentVis=false">
            <button ng-click="toggleVenueContentVis = !toggleVenueContentVis; toggleVenueTriangle = !toggleVenueTriangle" class="dropbtn" style="vertical-align: bottom"><span style="display: inline">{{$ctrl.currentService.venueName}}</span>
              <span ng-show="!toggleVenueTriangle" style="display: inline; padding: 0; margin-left: 0.5rem; font-size: .7rem; line-height: 0.7rem;">&#x25E2;</span>
              <span ng-show="toggleVenueTriangle" style="display: inline; padding: 0; margin-left: 0.5rem; font-size: .7rem; line-height: 0.7rem;">&#x25BC;</span>
            </button>
            <div class="dropdown-content" ng-click="toggleVenueContentVis = !toggleVenueContentVis; toggleVenueTriangle = !toggleVenueTriangle" ng-show="toggleVenueContentVis">
              <p ng-repeat="venue in $ctrl.currentService.venues track by $index" ng-click="$ctrl.clickVenueItem(venue.artsy_id, venue.name); toggleVenueContentVis=false" class="dropdown-item" href="#">{{venue.name}}</p>
            </div>
          </div>
        </ul>




        <!--
        <ul class="right">
          <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
              <p ng-repeat="venue in $ctrl.currentService.venues track by $index" ng-click="$ctrl.clickVenueItem(venue.artsy_id) toggleContentVis=false" class="dropdown-item" href="#">{{venue.name}}</p>
            </div>
          </div>
        </ul>
      -->

      </div>

    </nav>
  </div>
</header>
<main>
  <!-- <div style="height: 100vh; display: relative;"> -->

  <a class="fixtext" ng-click="$ctrl.clickRelevanceMode()" ng-if="$ctrl.currentService.relevanceMode == true">show irrelevant entries</a>
  <a class="fixtext" ng-click="$ctrl.clickRelevanceMode()" ng-if="$ctrl.currentService.relevanceMode == false">show relevant entries</a>

    <div class="container" style="transform: translate(0,0); height: 100%">
    <!-- <div class="container"> -->
      <!-- why use ui-view here instead of just <info-venue>-->
      <!-- <ui-view venues="venues"></ui-view> -->
      <!-- <ui-view></ui-view> -->
      <info-venue></info-venue>
    </div>

  <!-- </div> -->
</main>
